@using System.Net.Http.Json
@using System.Text.Json.Serialization
@using Microsoft.AspNetCore.Components.Web

@page "/"

<h3>Пример вызова API</h3>

<button @onclick="LoadData">Загрузить</button>

@if (data is null)
{
    <p>Нет данных</p>
}
else
{
    <pre>@data</pre>
}

@code {
    string? data;

    private class RequestData
    {
        public class EsiaUserData
        {
            
        }
        [JsonPropertyName("data")]
        public EsiaUserData Data { get; set; }
    }
    
    async Task LoadData()
    {
        var response = await Http.PostAsJsonAsync<RequestData>("/api/users/start-user-create", new RequestData()
        {
            Data = new()
        });
        data = await response.Content.ReadAsStringAsync();
    }

    [Inject]
    public HttpClient Http { get; set; } = default!;
}