@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing
@using Blazorise

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>

    <NotFound>
        <p>Page not found</p>
    </NotFound>
</Router>